<% @posts.each do |post| %>
  <div>
    <%= link_to post do %>
      <h2><%= post.name %></h2>
    <% end %>

    <% if post.link.present? %>
      <%= link_to 'Visit Link', post.link %>
    <% end %>

    <p>
      <span>Submitted <%= time_ago_in_words(post.created_at) %></span> by <span>@<%= post.user.name %></span>
    </p>
  </div>
<% end %>
