<!DOCTYPE html>
<html>
  <head>
    <title>HackerNewsClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'HNC', root_path %>
      <%= link_to 'New post', new_post_path %>

      <% if current_user.present? %>
        <span><%= current_user.name %></span>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </header>

    <% if flash[:notice].present? || notice.present? %>
      <p class="notice"><%= flash[:notice] || notice %></p>
    <% end %>

    <% if flash[:error].present? || alert.present? %>
      <p class="alert"><%= flash[:error] || alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
