<!DOCTYPE html>
<html>
  <head>
    <title>HackerNewsClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'global/header' %>

    <div class="container">
      <% if flash[:notice].present? || notice.present? %>
        <div class="notification is-secondary">
          <button class="delete"></button>
          <%= flash[:notice] || notice %>
        </div>
      <% end %>

      <% if flash[:error].present? || alert.present? %>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= flash[:error] || alert %>
        </div>
      <% end %>
    </div>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
